<a href="https://colab.research.google.com/github/Udhay2898/Cricket_stat/blob/Master/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
df = pd.read_csv('/content/drive/MyDrive/Data Sets/Cricket Stat.csv')
df.head()

,Player,Match,Innings,Not Outs,Runs,Balls Faced,100s,50s,Ducks,4s,...,Maiden,Runs Given,Wkts,4 W,5 W,Catches,Stimping,B Averag,B SR,Econ
0,A Ashish Reddy,31,23,8,280,193,0,0,0,17,...,0,396,18,0,0,9,0,22.0,14.56,9.07
1,A Chandila,12,2,2,4,7,0,0,0,0,...,0,242,11,1,0,7,0,22.0,21.27,6.21
2,A Chopra,7,6,0,53,71,0,0,0,7,...,0,0,0,0,0,2,0,0.0,0.00,0.00
3,A Choudhary,5,3,2,25,20,0,0,0,1,...,2,144,5,0,0,0,0,28.8,20.20,8.55
4,A Dananjaya,1,1,1,4,5,0,0,0,0,...,0,47,0,0,0,0,0,0.0,0.00,11.75

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560 entries, 0 to 559
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Player              560 non-null    object
 1   Match               560 non-null    int64
 2   Innings             560 non-null    int64
 3   Not Outs            560 non-null    int64
 4   Runs                560 non-null    int64
 5   Balls Faced         560 non-null    int64
 6   100s                560 non-null    int64
 7   50s                 560 non-null    int64
 8   Ducks               560 non-null    int64
 9   4s                  560 non-null    int64
 10  6s                  560 non-null    int64
 11  Average             560 non-null    float64
 12  SR                  560 non-null    float64
 13  High Score          560 non-null    int64
 14  Innings by Bowling  560 non-null    int64
 15  Balls Bowled        560 non-null    int64
 16  Maiden              560 non-null    int64
 17  Runs Given          560 non-null    int64
 18  Wkts                560 non-null    int64
 19  4 W                 560 non-null    int64
 20  5 W                 560 non-null    int64
 21  Catches             560 non-null    int64
 22  Stimping            560 non-null    int64
 23  B Averag            560 non-null    float64
 24  B SR                560 non-null    float64
 25  Econ                560 non-null    float64
dtypes: float64(5), int64(20), object(1)
memory usage: 113.9+ KB

In [10]:
df.columns

Index(['Player', 'Match', 'Innings', 'Not Outs', 'Runs', 'Balls Faced', '100s',
       '50s', 'Ducks', '4s', '6s', 'Average', 'SR', 'High Score',
       'Innings by Bowling', 'Balls Bowled', 'Maiden', 'Runs Given', 'Wkts',
       '4 W ', '5 W', 'Catches', 'Stimping', 'B Averag', 'B SR', 'Econ'],
      dtype='object')

In [12]:
df.dtypes

Player                 object
Match                   int64
Innings                 int64
Not Outs                int64
Runs                    int64
Balls Faced             int64
100s                    int64
50s                     int64
Ducks                   int64
4s                      int64
6s                      int64
Average               float64
SR                    float64
High Score              int64
Innings by Bowling      int64
Balls Bowled            int64
Maiden                  int64
Runs Given              int64
Wkts                    int64
4 W                     int64
5 W                     int64
Catches                 int64
Stimping                int64
B Averag              float64
B SR                  float64
Econ                  float64
dtype: object

In [13]:
df.describe()

,Match,Innings,Not Outs,Runs,Balls Faced,100s,50s,Ducks,4s,6s,...,Maiden,Runs Given,Wkts,4 W,5 W,Catches,Stimping,B Averag,B SR,Econ
count,560.000000,560.000000,560.000000,560.000000,560.000000,560.000000,560.000000,560.000000,560.000000,560.000000,...,560.000000,560.000000,560.000000,560.0000,560.000000,560.000000,560.000000,560.000000,560.000000,560.000000
mean,29.739286,20.607143,4.864286,395.423214,309.910714,0.103571,1.987500,1.573214,36.280357,14.571429,...,0.455357,408.507143,14.221429,0.2125,0.035714,9.744643,0.505357,21.317250,15.071429,6.351250
std,38.545560,32.728994,7.557967,852.949984,644.793938,0.511046,5.640213,2.392968,81.376870,34.518853,...,1.334075,710.633404,26.674562,0.6212,0.204098,15.780045,2.961888,21.391276,14.216918,4.419487
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000,2.000000,0.000000,8.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,13.000000,7.000000,2.000000,53.500000,54.500000,0.000000,0.000000,1.000000,5.000000,1.000000,...,0.000000,94.500000,3.000000,0.0000,0.000000,4.000000,0.000000,23.615000,17.600000,7.740000
75%,38.250000,22.000000,7.000000,295.500000,250.250000,0.000000,1.000000,2.000000,24.000000,10.000000,...,0.000000,431.750000,14.250000,0.0000,0.000000,11.250000,0.000000,32.872500,24.000000,8.880000
max,193.000000,189.000000,65.000000,5412.000000,4112.000000,6.000000,44.000000,13.000000,524.000000,326.000000,...,14.000000,4072.000000,170.000000,6.0000,2.000000,109.000000,38.000000,136.000000,85.000000,23.000000

In [15]:
df.isnull().any()

Player                False
Match                 False
Innings               False
Not Outs              False
Runs                  False
Balls Faced           False
100s                  False
50s                   False
Ducks                 False
4s                    False
6s                    False
Average               False
SR                    False
High Score            False
Innings by Bowling    False
Balls Bowled          False
Maiden                False
Runs Given            False
Wkts                  False
4 W                   False
5 W                   False
Catches               False
Stimping              False
B Averag              False
B SR                  False
Econ                  False
dtype: bool

In [16]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
555    False
556    False
557    False
558    False
559    False
Length: 560, dtype: bool

In [18]:
df.duplicated() == 1

0      False
1      False
2      False
3      False
4      False
       ...
555    False
556    False
557    False
558    False
559    False
Length: 560, dtype: bool

In [19]:
df.duplicated().sum()

0

In [20]:
df.nunique()

Player                560
Match                 118
Innings                99
Not Outs               36
Runs                  283
Balls Faced           270
100s                    7
50s                    30
Ducks                  14
4s                    124
6s                     82
Average               325
SR                    409
High Score            119
Innings by Bowling     89
Balls Bowled          235
Maiden                 11
Runs Given            306
Wkts                   81
4 W                     5
5 W                     3
Catches                64
Stimping               17
B Averag              302
B SR                  249
Econ                  267
dtype: int64

In [22]:
for column in df.columns:
    unique_values = df[column].unique()
    print(f"{column}:\n {unique_values}\n")

Player:
 ['A Ashish Reddy' 'A Chandila' 'A Chopra' 'A Choudhary' 'A Dananjaya'
 'A Flintoff' 'A Kumble' 'A Mishra' 'A Mithun' 'A Mukund' 'A Nehra'
 'A Nel' 'A Singh' 'A Symonds' 'A Uniyal' 'A Zampa' 'AA Bilakhia'
 'AA Chavan' 'AA Jhunjhunwala' 'AA Kazi' 'AA Noffke' 'AB Agarkar'
 'AB Barath' 'AB Dinda' 'AB McDonald' 'AB de Villiers' 'AC Blizzard'
 'AC Gilchrist' 'AC Thomas' 'AC Voges' 'AD Hales' 'AD Mascarenhas'
 'AD Mathews' 'AD Nath' 'AD Russell' 'AF Milne' 'AG Murtaza' 'AG Paunikar'
 'AJ Finch' 'AJ Turner' 'AJ Tye' 'AL Menaria' 'AM Nayar' 'AM Rahane'
 'AM Salvi' 'AN Ahmed' 'AN Ghosh' 'AP Dole' 'AP Majumdar' 'AP Tare'
 'AR Bawne' 'AR Patel' 'AS Joseph' 'AS Rajpoot' 'AS Raut' 'AS Roy'
 'AS Yadav' 'AT Rayudu' 'AUK Pathan' 'Abdur Razzak' 'Abhishek Sharma'
 'Anand Rajan' 'Anirudh Singh' 'Ankit Sharma' 'Ankit Soni' 'Anureet Singh'
 'Arshdeep Singh' 'Avesh Khan' 'Azhar Mahmood' 'B Akhil' 'B Chipli'
 'B Geeves' 'B Kumar' 'B Laughlin' 'B Lee' 'B Stanlake' 'B Sumanth'
 'BA Bhatt' 'BA Stokes' 'BAW Mendis' 'BB McCullum' 'BB Samantray'
 'BB Sran' 'BCJ Cutting' 'BE Hendricks' 'BJ Haddin' 'BJ Hodge' 'BJ Rohrer'
 'BMAJ Mendis' 'BR Dunk' 'BW Hilfenhaus' 'Basil Thampi' 'Bipul Sharma'
 'C Ganapathy' 'C Madan' 'C Munro' 'C Nanda' 'C de Grandhomme' 'CA Ingram'
 'CA Lynn' 'CA Pujara' 'CH Gayle' 'CH Morris' 'CJ Anderson' 'CJ Dala'
 'CJ Ferguson' 'CJ Jordan' 'CJ McKay' 'CK Kapugedera' 'CK Langeveldt'
 'CL White' 'CM Gautam' 'CR Brathwaite' 'CR Woakes' 'CRD Fernando'
 'CV Varun' 'D Kalyankrishna' 'D Salunkhe' 'D Wiese' 'D du Preez'
 'DA Miller' 'DA Warner' 'DAJ Bracewell' 'DB Das' 'DB Ravi Teja'
 'DE Bollinger' 'DH Yagnik' 'DJ Bravo' 'DJ Harris' 'DJ Hooda' 'DJ Hussey'
 'DJ Jacobs' 'DJ Muthuswami' 'DJ Thornely' 'DJ Willey' 'DJG Sammy'
 'DJM Short' 'DL Chahar' 'DL Vettori' 'DM Bravo' 'DNT Zoysa' 'DP Nannes'
 'DP Vijaykumar' 'DPMD Jayawardene' 'DR Martyn' 'DR Shorey' 'DR Smith'
 'DS Kulkarni' 'DS Lehmann' 'DT Christian' 'DT Patil' 'DW Steyn' 'E Lewis'
 'EJG Morgan' 'ER Dwivedi' 'F Behardien' 'F du Plessis' 'FH Edwards'
 'FY Fazal' 'G Gambhir' 'GB Hogg' 'GC Smith' 'GC Viljoen' 'GD McGrath'
 'GH Vihari' 'GJ Bailey' 'GJ Maxwell' 'GR Napier' 'GS Sandhu'
 'Gagandeep Singh' 'Gurkeerat Singh' 'H Das' 'H Klaasen' 'HF Gurney'
 'HH Gibbs' 'HH Pandya' 'HM Amla' 'HV Patel' 'Harbhajan Singh'
 'Harmeet Singh' 'Harpreet Brar' 'Harpreet Singh' 'I Malhotra' 'I Sharma'
 'IC Pandey' 'IK Pathan' 'IR Jaggi' 'IS Sodhi' 'Imran Tahir'
 'Iqbal Abdulla' 'Ishan Kishan' 'J Arunkumar' 'J Botha' 'J Suchith'
 'J Syed Mohammad' 'J Theron' 'J Yadav' 'JA Morkel' 'JC Archer'
 'JC Buttler' 'JD Ryder' 'JD Unadkat' 'JDP Oram' 'JDS Neesham' 'JE Taylor'
 'JEC Franklin' 'JH Kallis' 'JJ Bumrah' 'JJ Roy' 'JJ van der Wath'
 'JL Denly' 'JM Bairstow' 'JM Kemp' 'JO Holder' 'JP Behrendorff'
 'JP Duminy' 'JP Faulkner' 'JPR Scantlebury-Searles' 'JR Hopes'
 'JW Hastings' 'Jaskaran Singh' 'Joginder Sharma' 'K Goel' 'K Gowtham'
 'K Khejroliya' 'K Rabada' 'K Santokie' 'K Upadhyay' 'KA Pollard'
 'KAJ Roach' 'KB Arun Karthik' 'KC Cariappa' 'KC Sangakkara' 'KD Karthik'
 'KH Devdhar' 'KH Pandya' 'KJ Abbott' 'KK Ahmed' 'KK Cooper' 'KK Nair'
 'KL Rahul' 'KM Asif' 'KM Jadhav' 'KMA Paul' 'KMDN Kulasekara'
 'KP Appanna' 'KP Pietersen' 'KS Williamson' 'KV Sharma' 'KW Richardson'
 'Kamran Akmal' 'Kamran Khan' 'Karanveer Singh' 'Kuldeep Yadav' 'L Ablish'
 'L Balaji' 'L Ngidi' 'L Ronchi' 'LA Carseldine' 'LA Pomersbach'
 'LE Plunkett' 'LH Ferguson' 'LJ Wright' 'LMP Simmons' 'LPC Silva'
 'LR Shukla' 'LRPL Taylor' 'LS Livingstone' 'M Ashwin' 'M Kaif' 'M Kartik'
 'M Klinger' 'M Manhas' 'M Markande' 'M Morkel' 'M Muralitharan' 'M Ntini'
 'M Prasidh Krishna' 'M Rawat' 'M Vijay' 'M Vohra' 'M de Lange'
 'MA Agarwal' 'MA Khote' 'MA Starc' 'MA Wood' 'MB Parmar' 'MC Henriques'
 'MC Juneja' 'MD Mishra' 'MDKJ Perera' 'MEK Hussey' 'MF Maharoof'
 'MG Johnson' 'MG Neser' 'MJ Clarke' 'MJ Guptill' 'MJ Henry' 'MJ Lumb'
 'MJ McClenaghan' 'MJ Santner' 'MK Lomror' 'MK Pandey' 'MK Tiwary'
 'ML Hayden' 'MM Ali' 'MM Patel' 'MM Sharma' 'MN Samuels' 'MN van Wyk'
 'MP Stoinis' 'MR Marsh' 'MS Bisla' 'MS Dhoni' 'MS Gony' 'MS Wade'
 'MV Boucher' 'Mandeep Singh' 'Mashrafe Mortaza' 'Misbah-ul-Haq'
 'Mohammad Ashraful' 'Mohammad Asif' 'Mohammad Hafeez' 'Mohammad Nabi'
 'Mohammed Shami' 'Mohammed Siraj' 'Mujeeb Ur Rahman' 'Mustafizur Rahman'
 'N Pooran' 'N Rana' 'N Saini' 'NA Saini' 'NB Singh' 'ND Doshi'
 'NJ Maddinson' 'NJ Rimmington' 'NK Patel' 'NL McCullum' 'NLTC Perera'
 'NM Coulter-Nile' 'NS Naik' 'NV Ojha' 'O Thomas' 'OA Shah' 'P Amarnath'
 'P Awana' 'P Chopra' 'P Dharmani' 'P Dogra' 'P Kumar' 'P Negi'
 'P Parameswaran' 'P Prasanth' 'P Ray Barman' 'P Sahu' 'P Simran Singh'
 'P Suyal' 'PA Patel' 'PA Reddy' 'PC Valthaty' 'PD Collingwood'
 'PJ Cummins' 'PJ Sangwan' 'PM Sarvesh Kumar' 'PP Chawla' 'PP Ojha'
 'PP Shaw' 'PR Shah' 'PSP Handscomb' 'PV Tambe' 'Pankaj Singh'
 'Parvez Rasool' 'Q de Kock' 'R Ashwin' 'R Bhatia' 'R Bishnoi' 'R Dhawan'
 'R Dravid' 'R McLaren' 'R Ninan' 'R Parag' 'R Rampaul' 'R Sathish'
 'R Sharma' 'R Shukla' 'R Tewatia' 'R Vinay Kumar' 'RA Jadeja' 'RA Shaikh'
 'RA Tripathi' 'RD Chahar' 'RE Levi' 'RE van der Merwe' 'RG More'
 'RG Sharma' 'RJ Harris' 'RJ Peterson' 'RJ Quiney' 'RK Bhui' 'RK Singh'
 'RN ten Doeschate' 'RP Singh' 'RR Bhatkal' 'RR Bose' 'RR Pant' 'RR Powar'
 'RR Raje' 'RR Rossouw' 'RR Sarwan' 'RS Bopara' 'RS Gavaskar' 'RS Sodhi'
 'RT Ponting' 'RV Gomez' 'RV Pawar' 'RV Uthappa' 'RW Price' 'Rashid Khan'
 'Rasikh Salam' 'S Anirudha' 'S Aravind' 'S Badree' 'S Badrinath'
 'S Chanderpaul' 'S Dhawan' 'S Dube' 'S Gopal' 'S Kaul' 'S Kaushik'
 'S Ladda' 'S Lamichhane' 'S Midhun' 'S Nadeem' 'S Narwal' 'S Rana'
 'S Randiv' 'S Sandeep Warrier' 'S Sohal' 'S Sreesanth' 'S Sriram'
 'S Tyagi' 'S Vidyut' 'SA Abbott' 'SA Asnodkar' 'SA Yadav' 'SB Bangar'
 'SB Jakati' 'SB Joshi' 'SB Styris' 'SB Wagh' 'SC Ganguly' 'SC Kuggeleijn'
 'SD Chitnis' 'SD Lad' 'SE Bond' 'SE Marsh' 'SE Rutherford'
 'SJ Srivastava' 'SK Raina' 'SK Trivedi' 'SK Warne' 'SL Malinga'
 'SM Boland' 'SM Curran' 'SM Harwood' 'SM Katich' 'SM Pollock'
 'SMSM Senanayake' 'SN Khan' 'SN Thakur' 'SO Hetmyer' 'SP Fleming'
 'SP Goswami' 'SP Jackson' 'SP Narine' 'SPD Smith' 'SR Tendulkar'
 'SR Watson' 'SS Agarwal' 'SS Iyer' 'SS Mundhe' 'SS Sarkar' 'SS Shaikh'
 'SS Tiwary' 'ST Jayasuriya' 'STR Binny' 'SV Samson' 'SW Billings'
 'SW Tait' 'Sachin Baby' 'Salman Butt' 'Sandeep Sharma' 'Shahid Afridi'
 'Shakib Al Hasan' 'Shivam Mavi' 'Shivam Sharma' 'Shoaib Ahmed'
 'Shoaib Akhtar' 'Shoaib Malik' 'Shubman Gill' 'Sohail Tanvir'
 'Sunny Gupta' 'Sunny Singh' 'Swapnil Singh' 'T Henderson' 'T Kohli'
 'T Mishra' 'T Natarajan' 'T Shamsi' 'T Taibu' 'T Thushara' 'TA Boult'
 'TD Paine' 'TG Southee' 'TK Curran' 'TL Suman' 'TM Dilshan' 'TM Head'
 'TM Srivastava' 'TP Sudhindra' 'TR Birt' 'TS Mills' 'Tejas Baroka'
 'U Kaul' 'UA Birla' 'UBT Chand' 'UT Khawaja' 'UT Yadav' 'Umar Gul'
 'V Kohli' 'V Pratap Singh' 'V Sehwag' 'V Shankar' 'VH Zol' 'VR Aaron'
 'VRV Singh' 'VS Malik' 'VS Yeligati' 'VVS Laxman' 'VY Mahesh'
 'Vishnu Vinod' 'W Jaffer' 'WA Mota' 'WD Parnell' 'WP Saha' 'WPUJC Vaas'
 'Washington Sundar' 'X Thalaivan Sargunam' 'Y Gnaneswara Rao' 'Y Nagar'
 'Y Prithvi Raj' 'Y Venugopal Rao' 'YA Abdulla' 'YK Pathan' 'YS Chahal'
 'YV Takawale' 'Yashpal Singh' 'Younis Khan' 'Yuvraj Singh' 'Z Khan']

Match:
 [ 31  12   7   5   1   3  42 147  16  88  23  39   2  11  13  21  78 154
  80  15   9   6  49  14  64  75   4  26  29  60 140  17  35  82  22   8
 117  38  34  10 109  24  66  19  33  25  41  30 125  61  47  18  79 126
  32  27 134  91  90  40  92  52  71  69  36  43 160  28  89 103  55  37
  45  73  20  98  77  83 148 182  67  63  56  70  57  59  54 130  85 190
  44  97  46 113 119  50 139 157  95 105 170 188 177 159 193  76 122 110
  81  62  93 104 120  65 174  84 132 100]

Innings:
 [ 23   2   6   3   1  17  56   8  22   5  36   7  16   0   9 142  80   4
  11  42  10  52  73  12  50 132  28  63 140  21  43  19  33 109  15  41
 124  39  29  45  13  14  77 126  25 102  61  20  78  89  34  64 152  37
  68  27  18  88  82  96 135 163  48  58  70  35  54  38 103  72  30  24
 120  85  32 170  84  94  59 137  81  49  46 128 183  67 158  71  69 189
  57 130  62  65  40 169 104  95 154]

Not Outs:
 [ 8  2  0  1 14 25  3 15  9 12  7  4 32 11 10 16  5 21  6 19 20 23 17 38
 24 35 29 28 26 39 65 18 48 13 22 44]

Runs:
 [ 280    4   53   25   62   35  362   34   19   41    0    2  974    5
   69   12  217    9  179   42   26  123 4395  120 2069   20  181  148
   79  724   90 1400    7   10   49 1737    3   85  401  672 3820   36
   87  339  796   15   17  194 3300   39   72   63  388   76  183  124
    6  635 2880  125  238    1   18  193   23   40   32  187  177  303
  205 1280  390 4484  517  538   98    8   16  954  169   33  127 1850
 4706  304  375   21  170 1483  111  524 1322   92  295  115   71  121
   11 1802   13 2385  101  446  166  430  854   24   14 1853 4217   22
  739  284  663 1397  440   66  886 1068  577  107  829   55 1139   88
  695  409   54   29   82 1386  604  106  327 2427  445   38 2029  527
  417  218  144 2755   51 1687 3654  891  116 1464 1977 1079 1001 1302
  317  128   44   81  302  405 1017   70  259  113   73  514   27  126
 2587 1012 1266   96  969  237  167  270  278   28 2843 1695 1107  297
  122  161  473  225  798 4432   99  394 1529  117   64  135  168 1085
  140  422   52   30 1554  506  340  365 2848  164  505  203   77  584
  598 1456  342  153 2174  159  160  310 1927  758   83 4898  103  326
 1736   67  531   91   50 4411  104  136   59 1441 4579   37  368   31
  145  423 1544  131 1349 2477 5368  198   95  241  147  408  196  293
  771 2022 2334 3575 1681 1276  768  880 2209  334  137  746  499   43
  676 1153   75  300 5412 2728  557  282  130   56 1765  285  985 3204
  192   47 2750]

Balls Faced:
 [ 193    7   71   20    5   53   47  389   26   22   62    0   10  750
    8   85   11  210  154   42   48  100 2906   90 1495   19  143  118
   78  575   98  751   12   14   58 1329   70  356  577 3133   76  273
  630   13   31  167   39 2620   23    2   66   67    9    3  303   55
  251  192   97   37  481    6 2186  113  141 1118  140   27   35  123
    1  225  180  910  391 2969  328  423  117   15  755  150  111   24
 1333 3305  261  317  137 1156  101  412 1075  241   99   44 1462   17
 1764  106   18  374  158  705  173 3404  668  321  544  867   16  342
   57  807  690  407   69  600    4   61  946   84  531  359  686  919
  458   54  108   46  301 2222   38  134  283 1636  306   30  231   83
   79 1877   51   21 1392 2815  610   68 1139 1431  853  743  964  274
   49   34  246   60  852  350  822  250   77  470   29 2106  768  988
  756  128  208 1612  164   94  196  194 2353 1449  805  179   41  172
  132  364  702 3215   33  309 1226   81   91   36  107  806  119  307
   50 1313  138  314  289 2358  160  418  156  524   45  424 1109  339
  284  135 1882  171  126   75   89 1571  552   73 3744  112  102   65
  235 1067   64  453 3380   63 1212 3669   28  292  109 1173  133 1263
 1866 3915   59  214  186  286  165  291 1568 1948 2562 1324  532  683
 1696  161  589  377 1007  148  300 4112 1755  416  267  121 1346  259
  836 2241  178 2120]

100s:
 [0 1 3 2 6 4 5]

50s:
 [ 0  5  1 33 11  8 13 27 18  2  6 10 28  3  9 44 17  4 12 36 14 16 15  7
 23 24 37 20 38 19]

Ducks:
 [ 0 10  1  5  3  6  8  7  2 11 12  4  9 13]

4s:
 [ 17   0   7   1   5   3  29   4  74   2  19  13   9 357  21 239  15  44
  96 176   6  24  55 404  40  47 278  39  28   8  43 293 122  11  18  22
 128  50 368  37  76  10  12 126 458  23  35 117  27  90 200 245  14  36
  72 163 492  94  59 109  83  60  79  87  64  61 140  69  25 255  48  49
 181 195  86 158  92  91 110  16  33  66 243  97 198  45 253 156 121  20
  34  93 297  32 160  84 365  54 155 268 135 431  26 152 435 154 524  56
 137 266 493 180 295 343 149 170  31  30  70 480 334  77 262 217]

6s:
 [ 14   0   1   2   5  41   4 212  92   3   6  29 120  67  18  20  74  11
  35   7  13   8  25 130  19  43   9  63 326  27  31  36  16  87 181  61
  24  60  39 117  26  34  59  91  68  21  42  37  55  44  79  23  10 176
 101  81  38  40  15  46  52  75 209  33  17  49  54  28  65 194  94 156
  96  47  78 177  45  89 190 106 158 149]

Average:
 [18.67  0.    8.83 25.   31.   11.67 11.68  6.8   9.5   5.86  0.5  36.07
  4.    2.5  13.8   6.   16.69  9.   17.9  21.    2.6  24.6  39.95 17.14
 27.22 10.   45.25 24.67  8.78 23.35 33.33  3.5   9.8  26.32  1.   10.62
 19.1  17.68 32.93 36.   17.   21.75 14.12 18.95  4.25 21.56 28.7   7.8
 24.   15.75 12.43 20.42 12.67  7.62 12.4  35.   22.68  1.5  27.69 21.64
 18.   32.17  7.67 13.33 32.   23.38 15.   14.75 18.94 17.08 33.68 20.53
 41.14 27.21 24.45 16.33  8.    5.33 26.5  16.9  13.92 10.5   3.   16.5
 31.75 34.26 43.17 21.71 19.74 23.17 27.75 14.56 26.98 13.14 19.5  19.67
 16.43 11.83 15.12 11.   28.6  19.    6.5  28.39 11.22 17.84  7.55 26.88
 21.35 12.    7.   31.41 18.3  31.01  7.33 28.42 14.2  24.56 22.9  18.33
  2.   13.2  28.86 44.38  9.73 15.64  4.5   9.17 21.49 15.2   5.   44.
 21.06 20.45 27.   14.5  24.35 11.71 35.54 21.57 13.25 14.   29.73 28.55
 29.83 55.62 13.    7.6  39.78 21.08 26.06 14.53 11.5  10.2  25.95 27.07
 26.21 12.89 24.81 42.06 22.96  3.6  37.07 38.29 15.1  25.6   8.8  20.25
 27.45 21.2  39.96 20.   25.42 23.33  1.33 14.39 16.14 18.25 22.35 11.45
  3.33 26.4  23.53 18.35 13.71 28.5  17.86 14.81 38.76 17.7  12.85 22.5
  6.54 29.31 28.73 36.9  24.75  8.13 12.38 55.67 31.53 18.75 42.21  9.9
 28.14 22.16 16.71  9.14  9.67 28.   29.32  6.67 30.25 26.   19.18 20.72
 33.73 11.55  8.95 14.04 16.   22.6  16.4  22.95 40.6  12.83  3.43 11.92
 23.92  8.5  30.33 10.71 11.4   6.33 21.86 28.23 19.88 15.88  4.71 18.5
 11.07 24.09 26.14  7.5  13.83 14.45 31.6   9.75 10.67 14.71 23.29  3.47
 36.17 22.33 10.6  29.5  10.11 28.83  8.67 30.66  8.33 33.42 14.11  2.67
 12.33 22.75 18.4  15.5  18.12 21.15 28.07 18.71 25.45 14.14 14.6  33.34
  5.5  23.75 24.1  18.38 27.2   7.2  21.78 16.28 17.52 37.44 34.84 31.09
 30.56 28.36 27.43 19.13 27.61 17.58 17.12 27.57 10.12 21.31  4.33 33.27
 10.75  3.67 10.33 14.38 21.12 26.81 29.29 21.17  9.38 37.85 27.56 30.94
 12.25 15.67 16.25  9.33 23.85 12.5  20.36 22.39 29.13  4.2  11.75 24.77
  8.36]

SR:
 [145.08  57.14  74.65 125.    80.   116.98  74.47  93.06 130.77  86.36
  66.13   0.    20.   129.87  62.5   81.18 109.09 103.33  90.   116.23
 100.    54.17 123.   151.24 133.33 138.39 105.26 126.57 125.42 101.28
 125.91  91.84 186.42  58.33  71.43  84.48 130.7   30.   121.43 112.64
 116.46 121.93 138.46  87.5  154.55 114.47 124.18 126.35 115.38  54.84
 116.17 125.64 125.95 169.57 171.43  95.45 129.85  77.78  76.6  128.05
 138.18 111.55  95.31  38.46 127.84 250.    94.59  85.71 132.02  50.
 131.75 110.62 168.79  33.33 163.64 125.22 137.86  85.19 114.29  91.43
 152.03  78.95 125.53 134.67 113.89 140.66  99.74 151.03 157.62 127.19
  83.76  60.    53.33  69.57  88.89 126.36 112.67 163.06  37.5  137.5
 141.11  76.92 138.78 142.39 116.48 118.3   91.3  124.09 128.29 109.9
 127.18 122.98  93.88  73.58 122.41 116.16 161.36 107.08 120.   122.22
  30.77 123.26  79.17  76.47 135.2   95.28 119.25 105.06 131.1  121.13
 107.69 126.74 105.78 123.88 110.63  42.86  88.47 121.88 161.13  93.75
 128.65  40.   115.79 109.79 154.78 141.77 155.07 138.17 150.   166.67
 175.    90.16 120.4   78.35  41.18  74.07 104.76 130.89 113.93 114.89
 111.54  83.33 141.98 134.43 150.82 131.88 101.85  98.15 108.64 109.23
  92.11 133.58 112.5  157.24 108.33 122.58 124.02 135.48 136.27  72.73
  94.37 173.49  87.34 146.78 111.11 121.19 129.8  146.07 162.5  170.59
 128.53 138.16 126.49  75.   134.72 135.06 115.69  92.31 164.1   70.59
  81.48  73.47 119.12 122.76 176.67 126.64 153.85 115.71 123.72 145.83
 103.6  104.63  94.81 109.36  93.1  140.    66.67  61.11  14.29  79.71
 122.84 131.77 128.14  97.96 128.17  97.66 113.94 122.64 143.9  101.83
 104.26 137.76 143.3  139.13 116.67 120.82 137.52 165.92  95.12 104.27
  93.6  126.52 129.95 114.8  113.68 137.85 139.44 127.51 124.71 144.44
  77.11 148.35 101.89  80.56  90.91 157.01 134.62  99.29  95.24 101.68
 118.18 137.46 104.    63.83 118.35 130.08  35.71  92.03 108.28 126.3
 146.15  94.12 120.78 102.5  120.81 130.13  61.54 111.45  35.56 141.04
 101.1   46.15  85.   131.29 120.42 111.76 113.33 115.52  92.98 126.98
 102.   116.88  88.    82.61 124.72 113.14 122.66 137.32 113.7  112.77
 130.82 104.46 106.67 100.98 101.54 138.72  68.42 162.7  104.69 103.92
  97.33 117.22  25.   200.    71.09  98.04 130.5  165.08 120.35 103.51
  56.52 118.89  80.65 124.8  121.21 107.63  41.03 137.04 112.35 126.03
  61.82  86.11 133.03 124.78 131.63  96.55  98.5  106.81 111.24 132.74
 135.19 137.11  71.19  92.52 172.73  64.29 129.57 132.43  58.82 142.66
 123.29 118.79 100.69 168.34 128.95 119.82 139.54 126.96 119.59 144.36
 128.84 130.25 133.6   88.46 135.64 119.88  76.19 176.09 126.66  86.67
  16.67  28.57 110.64 132.36 124.14 138.71  68.75  57.89 119.23 127.78
  82.14 117.57 114.5  138.51 129.31 127.    96.83 205.26 131.61 155.44
 133.89  79.03 105.62  55.56  73.08 107.44  74.67  84.   131.13 110.96
 141.51 110.04 117.82 142.97  43.75 107.87  71.21 129.72  82.98]

High Score:
 [ 36   4  24  15   8  31  11  19  22   0 117   5   7  53   9  39  33 133
  51 109  12  45  27  65  88  20   3  25  40 105  18  30  59  44  16 100
  14  46  80  61   6 103   2 158  55  73  64  13  35  47  93 175  82  95
  23  78  43  26  10 101 126  60  34  70  54  71  32   1  29 110  87  28
  17  66  96  91  69 104  62  67  86  41  79  89 114  38  83  94  97  48
  81  21  42 127  68  74  49 116  50  75  52  92  84  77  85  57  76 120
  99 108 128  72 115 102  56  58 113 122  63]

Innings by Bowling:
 [ 20  12   0   5   1   3  42 147  16  88  23  30   2  11  13  10  75  15
   7  44  61  26  19  17  81   8  21   6  22 117   9  38  24  28  37  18
  14  27 131   4  34  29  46  90  40  92  43  60  41 157  89 101  55  48
  87  72  77  49  53  25  39  73  70  66  54  56  63  85  36  33 119 156
 136  91 104 142  82  45  62  57  69 122  35 109 105  79 118  83  99]

Balls Bowled:
 [ 262  234    0  101   24   66  965 3101  288 1908   18  473  527   36
  221  248   85   12  782 1516  186    1  315   54  308  791 1039  108
  264   43  594  110  229    6  150  344 1713   52  427   30   39  149
  367  109  412   60  156  537  188   48 2612  167  875  144  296  587
  240  483  281  372  401  426  216  549 1284  297  198   42   17  254
  374  278  576 2585  223  317   84  236  688  777  645  152  539 1745
  783 2106  140  458  138  324  420   78  162  869  836 3374 1907  462
 2043  181 1226  920  694  270  192  222 1723  491 1506  237  117  151
 1742 1732   72   44  114  678 1227  360   58  102  256   95  410 1199
  944   96  227  163  174 1108  160  204  824 1513  180   71  314  417
 1150  300 1629 1524  210  580  890 1232 1274 1355 1730  214  888  271
 1032  553  362  547   91   56  698  563  132  747 2524  716  154  105
   89  361  802 3124 1899  660 2924 1636  488  354  139  928  120 2121
 2495  443   35  332  832 1775  206 1092  760  258   10  589  981 1259
  106   16  880  209 1085   55  276   41  282  908 1194 2827    2  707
 2557 2029   25  294 1328  168   51  247   76  135  765   61   70  107
   21 2480  251  136  916  205  339  572 1147 1787 2200]

Maiden:
 [ 0  2  1  6  3  8  7  4 10  5 14]

Runs Given:
 [ 396  242    0  144   47  105 1058 3795  472 2495   31  620  674   66
  278  326  129   21   40 1151 2073  261  406   76  356 1079 1538  177
  313   67  822  322    5  200  498  112 2129   87  615   44   11   63
   29  201  450  623  109  257  700   20   91 3154  282 1095  397  808
  285  757  429  235  303   12   36  479  648  572   13   15   57  319
  724 1709  518   34  298   60   49  187   86  379  576   35   78  402
   56   32   28  693 3618   26  474  101   95  350   19  875  879   99
  785  199  810 2404 1037 2375   16  154  570  222  357  611   27   82
  141   97  238 1313 1215 3967  731   48   23 2578  591 2649  202 1611
 1109  800  283  293  246 2359  616 2192  349  157  220 2293 2182   54
  306  165  834 1778   89  548  171  419   93  478  153  556   90   81

In [23]:
df = df.fillna(np.nan)

In [24]:
df = df.fillna(0)

In [26]:
df.columns

Index(['Player', 'Match', 'Innings', 'Not Outs', 'Runs', 'Balls Faced', '100s',
       '50s', 'Ducks', '4s', '6s', 'Average', 'SR', 'High Score',
       'Innings by Bowling', 'Balls Bowled', 'Maiden', 'Runs Given', 'Wkts',
       '4 W ', '5 W', 'Catches', 'Stimping', 'B Averag', 'B SR', 'Econ'],
      dtype='object')

In [ ]:
TOP 10 Player
By  Player', 'Match', 'Innings', 'Not Outs', 'Runs', 'Balls Faced', '100s',
       '50s', 'Ducks', '4s', '6s', 'Average', 'SR', 'High Score',
       'Innings by Bowling', 'Balls Bowled', 'Maiden', 'Runs Given', 'Wkts',
       '4 W ', '5 W', 'Catches', 'Stimping', 'B Averag', 'B SR', 'Econ'


Comparison By Players